body {
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    border: 1px solid #000000;
}
.difficulty {
    width: 200px;
    height: 60px;
    font-size: 24px;
    padding: 10px 20px;
}
.buttons-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    display: none;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}
